.About {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(127, 255, 212, 0.3);
    padding: 2em;
    border-radius: 8px;
}