nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    background-color: rgba(127, 255, 212, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    margin: 2em 3em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    color: aqua
}