html {
  scroll-behavior: smooth;
}


#root {
  width: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#particles canvas {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.App {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 48rem;
}

.content {
  padding-top: 100px;
}

section{
  min-height: 100vh;
  padding: 30px;
  scroll-margin-top: 100px;
}