#root {
  width: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#particles canvas {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.App {
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 48rem;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first {
  margin-top: -100px;
}