@import "tailwindcss";

@theme {
  --font-display: "League Spartan", sans-serif;
  --color-primary: rgba(127, 255, 212, 0.3);
}

@layer base {
  h1 {
    font-size: var(--text-3xl);
    font-family: var(--font-display);
  }
}

:root {
  background-color: #242424;
}